/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Fundo e Estilos Gerais da Ficha */
.F_E_M .custom-system-actor-content {
    background: url("");
    background-color: #11001f;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
	color: white;
	font-family: 'Lexend', sans-serif;
    font-size: 14px;
}

.F_E_M .header-fields {
    background: url("...");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left:10px;
}

.F_E_M .custom-system-actor header.sheet-header .profile-img-container img {
    border: solid 1px white;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    flex: none;
}

/* Itens */
.F_E_M .equip-icn table { background: none; border: none; }
.F_E_M .equip-icn table tbody tr { background: none; }
.F_E_M .equip-icn a.content-link { background: none; border: none; font-size: 0; }
.F_E_M .equip-icn .custom-system-item-container-image {
  object-fit: contain;
  max-width: 32px;
  max-height: 32px;
  margin: 0px;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.05);
  transition: all .3s ease-in-out;
}

/* --- Estilos para Mensagens de Rolagem no Chat --- */
.critico { color: #0c6400; }
.falha { color: #640000; }

/* Adiciona a classe do template ao seletor para especificidade */
.chat-message .F_E_M-roll .chat-roll {
	border: 2px solid #9f9275;
	border-radius: 5px; 
	background: #f8f4f1;
	padding-left: 4px; 
	padding-right: 2px;
}
.chat-message .F_E_M-roll .chat-roll img {
	float: left;
	border: 3px groove #9f9275;
}
.chat-message .F_E_M-roll .text-form {
	font-size: 12px;
	font-family: inherit;
}
.chat-message .F_E_M-roll .text-icn {
	padding-left: 0px; 
	padding-top: 4px;
	white-space: wrap;
}
.chat-message .F_E_M-roll .text-icn .img {
	vertical-align: top;
	width: 35px;
	height: 35px;
	border: 3px groove #9f9275;
}
.chat-message .F_E_M-roll .title {
	padding-left: 4px;
	white-space: pre-wrap;
	display: flex;
	font-family: 'Lexend', sans-serif;
}
.chat-message .F_E_M-roll .subtitle {
	font-family: 'Lexend', sans-serif;
	font-size: 9.5px;
	white-space: pre-wrap;
	padding-left: 4px;
}
.chat-message .F_E_M-roll .subtitle2 {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	white-space: pre;
	padding-left: 4px;
}
.chat-message .F_E_M-roll .grid-container {
	display: grid;
	width: 100%;
	align-content: center;
	grid-column: 1 / span 3;
}
.chat-message .F_E_M-roll .roll-text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.message-header .message-sender { font-family: 'Roboto Slab', serif; font-weight: bold; }
.dice-roll .dice-total { flex: 0; font-size: 20px; font-weight: bold; }
.dice-roll .dice-total.critical { color: green; }
/* --- Fim dos Estilos de Chat --- */


/* Botões, Textos, Estatisticas, Dropdowns e Checkboxes */
.F_E_M header.sheet-header h1 input {
    width: calc(80% - 2px);
    background: rgba(0, 0, 0, 0.0);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
	color: white;
    border: 1px solid white;
    border-radius: 55px;
}
.F_E_M .statistic input[type="text"],
.F_E_M .naming input[type="text"] {
    width: 100%;
    height: var(--form-field-height);
    background: rgba(0, 0, 0, 0.0);
    padding: 1px 3px;
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
	color: white;
    border: 1px solid white;
    border-radius: 55px;
}
.F_E_M .custom-system-user-input-button {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
.F_E_M option, .F_E_M optgroup {
    background: #202020;
    color: white;
}
.F_E_M .choice select,
.F_E_M .custom-system-template-select > select {
    height: calc(var(--form-field-height) + 1px);
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid white;
    border-radius: 50px;
    padding: 0 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
	text-align: center;
	color: white;
	width: 100% !important;
}
.F_E_M select:focus { box-shadow: 0 0 5px red; }
.F_E_M select:hover { box-shadow: 0 0 5px blue; }
.F_E_M .custom-system-rollable { color: white; }
.F_E_M .tabs .item.active { text-shadow: 0 0 10px #00daff; }
.F_E_M .Roll_Mod { color: white; }
.F_E_M .training input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: url(/modules/feiticeiros-e-maldicoes/img/fire-unchecked.png);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 0 0 10px;
    width: 27px;
    height: 22px;
	cursor: pointer;
    transform: scale(1.4);
}
.F_E_M .training input[type="checkbox"]:checked {
    background: url(/modules/feiticeiros-e-maldicoes/img/fire-checked.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.F_E_M .training-complete input[type="checkbox"]:checked {
    background: url(/modules/feiticeiros-e-maldicoes/img/fire-burning.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.F_E_M .custom-system-label { color: white; }
.F_E_M .custom-system-roll-icon { color: white; }
.F_E_M .bignumber input {
	color: #FFFFFF;
	background: none;
	border: none;
	text-align: center;
	font-weight: bold;
	scale: 1.5;
	box-shadow: none;
}

/* Barras */
.F_E_M .hpbar .custom-system-meter-fill { background-color: #ff0000 !important; }
.F_E_M .pebar .custom-system-meter-fill { background-color: #0096ff !important; }
.F_E_M .intbar .custom-system-meter-fill { background-color: #8504c7 !important; }
.F_E_M .custom-system-meter-content {
	color: #000000;
	text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

/* Tabelas e Painéis de Layout */
.F_E_M table {
    width: 100%;
    border-collapse: collapse;
    background: #230243;
    border: none;
	border-radius: 10px;
    margin: 0.01em 0;
}
.F_E_M td:first-child {
    padding-left: 2px;
	color: white;
}
.F_E_M .atritable,
.F_E_M .resbar,
.F_E_M .charinfo,
.F_E_M .cacd,
.F_E_M .colorpanel {
    border-radius: 15px;
    background-color: #33184c;
}

.F_E_M .atritable { width:100%; margin-left: 40px; grid-column: 20px; }
.F_E_M .resbar { width: 100%; height: 100%; }
.F_E_M .charinfo { width: 95%; height: 95%; margin-left: 20px; grid-column: 10px; }
.F_E_M .cacd { width: 100%; height: 100%; grid-column: 60px; }